* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.section {
    width: 100%;
}
.section .container {
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
}
.container .title {
    width: 100%;
    margin-bottom: 70px;
}
.container .title .con {
    display: flex;
    align-items: center;
    justify-content: center;
}
.con a{
    padding-right: 3%;
    color:#889412;
}
.con i {
    font-size: 23px;
}
.con span{
    padding-right: 3%;
}
.container .title h1 {
    text-transform: uppercase;
    font-size: 35px;
    color: #88941e;
}
.container .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.content {
    float: left;
    width: 55%;
}
.image-s {
    float: right;
    width: 40%;
}
.image-s img {
    width: 100%;
    height: auto;
}
.content .article h3 {
    color: #a3a3a3;
    font-size: 17px;
}
.content .article p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.content .article .button {
    margin-top: 50px;
}
.content .article a {
    text-decoration: none;
    padding: 8px 25px;
    background-color: #88941e;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.container .soc {
    width: 100%;
    clear: both;
    margin-top: 80px;
    text-align: center;
    display: inline-block;
}
.container .soc i {
    color: #fff;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    background-color: #f28f92;
    margin: 0px 5px;
}
.container .soc i:hover {
    color: #fff;
    background-color: #889412;
    transition: 1s ease;
    transform: rotate(360deg);
}
@media screen and (max-width: 800px){
    .section .container {
        width: 80%;
        display: block;
        margin: auto;
    }
    .content {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-s{
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .image-s img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .content .article .button {
        text-align: center;
    }
}